# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
test.sqlite3

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# yarn
.yarn

# 실수로 `npm install` 하는 경우를 방지하기 위함입니다.
# `yarn install`을 사용해주세요.
# -> 구 컨테이너 버전 문제로 npm을 다시 사용합니다.
# package-lock.json

.env.production
